$primary-color: #ffffff;
$background-color: #0C0C0C;
$secondary-color: #4d4d4d36;
$tablet-width: 800px;
$desktop-width: 1000px;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Fira Mono Medium';
  src: url('./assets/fonts/Fira_Mono/FiraMono-Medium.ttf');
}

@font-face {
  font-family: 'Fira Mono Bold';
  src: url('./assets/fonts/Fira_Mono/FiraMono-Bold.ttf');
}

body {
  background-color: $background-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
}